:root{
  --background_login: #EDEAE3;
  --button_primary_color: #3366CC;
  --text_base: #4D4D4F;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.chat__elements{
  scrollbar-color: var(--button_primary_color) transparent;
 scrollbar-width: thin;
}
.chat__elements::-webkit-scrollbar{
  width: 2px;
  margin: 2px;
}

@layer components {
  .input-primary {
    @apply bg-white rounded-md my-2 text-[#000000] md:max-w-[300px] h-[48px] p-4;
  }
}
